export(allgensnp)
export(allphenotypes)
export(annotations)
export(fetch_genotypes)
export(genotypes)
export(LDSearch)
export(NCBI_snp_query)
export(phenotypes_byid)
export(phenotypes)
export(users)
import(httr)
import(plyr)
import(RJSONIO)
import(stringr)
