http_interactions:
- request:
    method: get
    uri: https://opensnp.org/snps/json/annotation/rs7903146.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"f7cd8bd8140eddc77e8c7a0c0f5a580e"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: ''
      file: no
      string: '{"snp":{"name":"rs7903146","chromosome":"10","position":"112998590","allele_frequency":{"A":0,"T":1870,"G":0,"C":4788},"genotype_frequency":{"CC":1738,"CT":1312,"TT":279},"annotations":{"mendeley":[{"author":"T
        E Meyer","title":"Diabetes genes and prostate cancer in the Atherosclerosis
        Risk in Communities study","publication_year":2010,"number_of_readers":3,"open_access":true,"url":"http://www.mendeley.com/research/diabetes-genes-prostate-cancer-atherosclerosis-risk-communities-study-4/","doi":"19/2/558
        [pii]\\r10.1158/1055-9965.EPI-09-0902"},{"author":"Camilla Cervin","title":"Diabetes
        in Adults , Type 1 Diabetes , and Type 2 Diabetes GENETICS OF LADA","publication_year":2008,"number_of_readers":2,"open_access":false,"url":"http://www.mendeley.com/research/diabetes-adults-type-1-diabetes-type-2-diabetes-genetics-lada/","doi":"10.2337/db07-0299.Leif"},{"author":"Nicholette
        D Palmer","title":"Association of TCF7L2 gene polymorphisms with reduced acute
        in[...]
