http_interactions:
- request:
    method: get
    uri: https://opensnp.org/users.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"13bc4808c66060e467d4168c241f5fb8"
      status:
      - HTTP/1.1 200 OK
      - 200 OK
    body:
      encoding: ''
      file: no
      string: "[{\"name\":\"gigatwo\",\"id\":31,\"genotypes\":[]},{\"name\":\"Anu
        Acharya\",\"id\":385,\"genotypes\":[]},{\"name\":\"Martin Rodriguez\",\"id\":386,\"genotypes\":[]},{\"name\":\"richard
        randazzo\",\"id\":9,\"genotypes\":[]},{\"name\":\"gsgs\",\"id\":759,\"genotypes\":[]},{\"name\":\"Takahiro
        Mimori\",\"id\":760,\"genotypes\":[]},{\"name\":\"mrrredith \",\"id\":29,\"genotypes\":[]},{\"name\":\"R.M.
        Holston\",\"id\":22,\"genotypes\":[{\"id\":8,\"filetype\":\"23andme\",\"download_url\":\"http://opensnp.org/data/22.23andme.8\"}]},{\"name\":\"Senficon\",\"id\":2,\"genotypes\":[]},{\"name\":\"usuyama\",\"id\":388,\"genotypes\":[]},{\"name\":\"Charles
        G. Sullivan\",\"id\":5326,\"genotypes\":[{\"id\":3834,\"filetype\":\"23andme\",\"download_url\":\"http://opensnp.org/data/5326.23andme.3834\"}]},{\"name\":\"Patrik
        D'haeseleer\",\"id\":18,\"genotypes\":[]},{\"name\":\"Pedro Sepulveda\",\"id\":1569,\"genotypes\":[{\"id\":879,\"filetype\":\"23andme\",\"download_url\":\"[...]
