http_interactions:
- request:
    method: get
    uri: https://opensnp.org/users.json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '503'
      message: Service Unavailable
      explanation: The server cannot process the request due to a high load
    headers:
      status: HTTP/1.1 503 Service Temporarily Unavailable
      content-type: text/html
      etag: '"6467496a-133"'
    body:
      encoding: ''
      file: no
      string: |
        <!DOCTYPE html>
        <html>
          <head>
            <title>OpenSNP is down for maintenance</title>
          </head>
          <body>
            <style>
              h1 {
                color:#0069d6;
              }
            </style>
            <center>
              <h1>openSNP</h1>
              <h3>We are working on something. Please check again later.</h3>
            </center>
          </body>
        </html>
  recorded_at: 2023-06-30 09:11:57 GMT
  recorded_with: vcr/1.2.0, webmockr/0.9.0
